[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/bilberry-hugo-theme"]
	path = themes/bilberry-hugo-theme
	url = git@github.com:Lednerb/bilberry-hugo-theme.git
